@model TasaCambio
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TRM del Dia:</h1>
    <h3 id="hTRM" >
        @Model.valor.ToString()
    </h3>
</div>

